@{
	ViewBag.Title = Request.IsAuthenticated ? "Dashboard" : "BIRA Issue Tracker";
}

<div class="jumbotron">
	<div class="jumbo-logo center-block text-center">
		<img src="../../Images/BIRA_Logo.png" alt="BIRA Logo" class="jumbo-logo img-responsive "/>
	</div>

	@if (!Request.IsAuthenticated)
	{
		<blockquote class="text-center">
			<i>Everyone has issues. We just happen to track them...</i>
		</blockquote>
	}
	else
	{
		string username = ViewBag.Username;
		
		int numberOfIssues = ViewBag.UnresolvedIssuesCount;

		int userAssignedIssuesCount = ViewBag.UserAssignedUnresolvedIssuesCount;
		var userAssignedIssuesText = userAssignedIssuesCount == 0 ? "none" : $"<a href=\"/Issues/AssignedToMe\">{userAssignedIssuesCount}</a>";

		var workOrRest = userAssignedIssuesCount > 0 ? "get to work" : "take a break";
		<h3 class="text-center">Hey there @username! Time to @workOrRest!</h3>
		<h4 class="text-center"><i>There are @numberOfIssues open issues and @Html.Raw(userAssignedIssuesText) of them are assigned to you.</i></h4>
	}

	@if (!Request.IsAuthenticated)
	{
		<div class="text-center">
			<div>
				<h3>Join us now!</h3>
				<div>@Html.ActionLink("Register", "Register", "Account", null, new {@class = "btn btn-success btn-lg"})</div>
			</div>

			<div>
				<h5>Already have an account?</h5>
				<div>@Html.ActionLink("Log in", "Login", "Account", null, new {@class = "btn btn-default btn-md"})</div>
			</div>
		</div>
	}
</div>


<div class="row">
	@if (Request.IsAuthenticated)
	{
		<div class="col-md-3">
			<h2>Issues</h2>
			<p>Submit an issue</p>
			<p>
				@Html.ActionLink("Submit New", "New", "Issues", null, new {@class = "btn btn-primary"})
			</p>
		</div>
		<div class="col-md-3">
			<h2>Account</h2>
			<p>Manage your account</p>
			<p>
				@Html.ActionLink("Manage account", "Index", "Manage", null, new {@class = "btn btn-default"})
			</p>
		</div>
	}

	@{
		var columnSize = Request.IsAuthenticated ? "3" : "4";
		var offset = Request.IsAuthenticated ? string.Empty : " col-md-offset-2";
	}

	<div class="col-md-@columnSize@offset">
		<h2>All issues</h2>
		<p>
			Get acquainted with the current issues
		</p>
		<p>
			@Html.ActionLink("View All Issues", "Index", "Issues", null, new {@class = "btn btn-default"})
		</p>
	</div>
	<div class="col-md-@columnSize">
		<h2>View tags</h2>
		<p>Check out how issues are categorized.</p>
		<p>
			@Html.ActionLink("View Tags", "Index", "Tags", null, new {@class = "btn btn-default"})
		</p>
	</div>
</div>