@using BIRA_Issue_Tracker.Models.IssueTracker
@model IEnumerable<BIRA_Issue_Tracker.Models.Identity.ApplicationUser>

@{
	ViewBag.Title = "All Users";
}

<h2>Index</h2>

<table class="table table-striped table-bordered">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.FullName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>
		<th>
			Issues created
		</th>
		<th>
			Issues assigned
		</th>
		<th>Quick actions</th>
	</tr>

	@foreach (var user in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => user.FullName)
			</td>
			<td>
				@Html.ActionLink(user.Email, "Profile", new {id = user.Email}, null)
			</td>
			<td>
				@{
					IEnumerable<Issue> issues = ViewBag.Issues;
					var createdIssuesCount = issues.Count(a => a.Author.Id == user.Id);
					var assignedIssuesCount = issues.Count(a => a.Assignee.Id == user.Id);
				}

				@Html.ActionLink(createdIssuesCount.ToString(), "By", "Issues", new { id = user.UserName }, null)
			</td>
			<td>
				@Html.ActionLink(assignedIssuesCount.ToString(), "AssignedTo", "Issues", new { id = user.UserName }, null)
			</td>
			<td>
				@Html.ActionLink("Details", "Profile", new {id = user.Email}, new {@class = "btn btn-primary"})
			</td>
		</tr>
	}

</table>