@model BIRA_Issue_Tracker.Models.IssueTracker.Issue

@{
	ViewBag.Title = "Edit";
	bool isOwnIssue = ViewBag.IsOwnIssue;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Issue</h4>
		<hr/>
		@Html.ValidationSummary(true, "", new {@class = "text-danger"})
		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
			<div class="col-md-10">
				@if (isOwnIssue)
				{
					@Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
				}
				else
				{
					@Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control", disabled = true}})
				}

				@Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
			<div class="col-md-10">
				@if (isOwnIssue)
				{
					@Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", rows = 5}})
				}
				else
				{
					@Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", rows = 5, disabled = true}})
				}
				@Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.State, htmlAttributes: new {@class = "control-label col-md-2"})
			<div class="col-md-10">
				@Html.EnumDropDownListFor(model => model.State, htmlAttributes: new {@class = "form-control"})
				@Html.ValidationMessageFor(model => model.State, "", new {@class = "text-danger"})
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default"/>
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", (string) ViewBag.ReturnTo, null, new {@class = "btn btn-default"})
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}