@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right dropdown">
			<li data-toggle="dropdown" class="userDropdown">
				<a href="#" class="">
					@($"Hello {User.Identity.GetUserName()}!")<span class="caret userDropdownCaret"></span></a>

			</li>

			<ul class="dropdown-menu">
				<li>@Html.ActionLink("My Profile", "Profile", "Users", new {id = User.Identity.GetUserName()}, null)</li>
				<li>@Html.ActionLink("Manage Account", "Index", "Manage", null, new {title = "Manage"})</li>
				<li>
					<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
				</li>
			</ul>

			@*<li>
				@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
			</li>*@
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Register", "Register", "Account", null, new {id = "registerLink"})</li>
		<li>@Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink"})</li>
	</ul>
}